# Set these in the service environment. FamilyOS does not load this file.
FAMILYOS_ENV=
FAMILYOS_SECRET_KEY=
FAMILYOS_ALLOWED_HOSTS=
FAMILYOS_CSRF_TRUSTED_ORIGINS=
FAMILYOS_DATA_DIR=
FAMILYOS_VAULT_KEY=
FAMILYOS_VAULT_ROOT=
FAMILYOS_CLAMD_HOST=
FAMILYOS_CLAMD_PORT=
FAMILYOS_GMAIL_CLIENT_ID=
FAMILYOS_GMAIL_CLIENT_SECRET=
FAMILYOS_GMAIL_REDIRECT_URI=
